Repository tablecheck/tablekit, pull requests merged in 2021-12, with the labels that each got.

#71 fix(tablekit-theme): primary2 colors
  packages/select/src/themes.ts
  packages/theme/src/palettes.ts
  packages/theme/src/types.ts
  packages/typography/src/styled.ts
Labels: patch, select

#72 fix(tablekit-input): use primary2 color for icon
  packages/input/src/themes.ts
Labels: patch, input

#73 input: fix(tablekit-modal-dialog): add z-index from tablekit theme
  packages/modal-dialog/src/styled.ts
Labels: bug, patch, modal

#74 fix(tablekit-calendar): add selectedTextColor to theme
  packages/calendar/src/Weeks/styled.ts
  packages/calendar/src/index.ts
  packages/calendar/src/themes.ts
Labels: patch, calendar

#75 fix(tablekit-calendar): add selectedTextColor to theme
  packages/calendar/src/Weeks/styled.ts
Labels: patch, calendar
